<header>
    <div class="header_container">
        <div class="header_img"><img src="./images/jojo.png" alt="jojo"></div>
        <div class="header_title"><h1>Chez Josiane</h1></div>
        <div class="header_ahref">
            <!-- faire condition pour afficher les bons liens en fonction si l'utilisateur est connecté ou pas (ex deconnexion)-->
            <% if (session.User) {%>
                <a href="/disconnect">Se Deconnecter</a>
            <% } %>
            <% if (!session.User) {%>
                <a href="/login">connexion</a>
            <div class="separateur"> / </div>
            <a href="/signup">s'inscrire</a>
            <% } %>
        </div>
        <div class="header_user">
            <% if (session.User) {%>
                <p>Bienvenue <strong><%= session.User.pseudo %> </strong> </p>
            <% } %> 
        </div>
        <div class="header_message">
            <% if( infos.length) { %> 
                <h4> <%= infos %>   </h4>    
            <% } %> 
        </div>
    </div>
</header>