
    <nav>
        <ul>
          <li class="presentation">
            <a href="#">presentation</a></li>
          <li class="menu-deroulant">
            <a href="#">Nom Poule / Coq</a>
            <ul class="sous-menu">
              <li><a href="#">Nom pour une Poule</a></li>
              <li><a href="#">Nom pour un Coq</a></li>
            </ul>
          </li>
          <li class="astuce"><a href="#">Astuce / Bien être</a></li>
          <li class="partage"><a href="#">Partage</a></li>
          <li class="recette"><a href="#">Recette</a></li>
          <li class="menu-deroulant">
            <a href="#">Small Games</a>
            <ul class="sous-menu">
              <li><a href="#">Nombre d'oeufs ?</a></li>
              <li><a href="#">Chifoumi</a></li>
            </ul>
          </li>
        </ul>
      </nav>
