
    <nav>
        <ul>
          <li class="presentation">
            <a href="/">presentation</a></li>
          <li id="menu-deroulant" class="names">
            <a href= "/names">Nom Poule & Coq</a>
            <ul class="sous-menu">
              <li class="namesPoule"><a href="/names_poule">Nom pour une Poule</a></li>
              <li class="namesCoq"><a href="/names_coq">Nom pour un Coq</a></li>
              <% if (session.User) {%>
                <li class="myNames"><a href="/myNames">Mes idées de noms</a></li>
                <% if (session.User.adm == true) {%>
                  <li><a href="nomAdm">nom pour ADM</a></li>
                <% } %> 
              <% } %> 
            </ul>
          </li>
          <li class="astucePartage"><a href="/astucePartage">Astuce & Partage</a></li>
          <li class="recette"><a href="/recette">Recette</a></li>
          <li id="menu-deroulant">
            <a href="/games">Games</a>
            <ul class="sous-menu">
              <li><a href="/game_eggs">Nombre d'oeufs ?</a></li>
              <li><a href="/game_goChickenGo">Go Chicken Go</a></li>
              <li><a href="/game_eggyCar">Eggy Car</a></li>
            </ul>
          </li>
        </ul>
      </nav>
