
    <nav>
        <ul>
          <li class="presentation">
            <a href="/">presentation</a></li>
          <li class="menu-deroulant">
            <a href= "/names">Nom Poule / Coq</a>
            <ul class="sous-menu">
              <li><a href="/names_poule">Nom pour une Poule</a></li>
              <li><a href="/names_coq">Nom pour un Coq</a></li>
            </ul>
          </li>
          <li class="astuce"><a href="/astuce">Astuce / Bien être</a></li>
          <li class="partage"><a href="/partage">Partage</a></li>
          <li class="recette"><a href="/recette">Recette</a></li>
          <li class="menu-deroulant">
            <a href="/games">Games</a>
            <ul class="sous-menu">
              <li><a href="/game_eggs">Nombre d'oeufs ?</a></li>
              <li><a href="/game_chifoumi">Chifoumi</a></li>
            </ul>
          </li>
        </ul>
      </nav>
