<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head') %>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/astuce_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <h1>Astucieux tu commence a comprendre ahah </h1>
</body>
</html>