<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head') %>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/astuces_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <main>
        <h1>Astucieux tu commence a comprendre ahah </h1>

        <% if(session.User != null) { %> 
            
            <div class="buttonInscription">
                <p>Vous avez un conseil ou une astuce, hésitez pas : </p>
                <a href="#"> Partager </a>
                
            </div>
            
        <% } else { %> 
            <div class="buttonInscription">
                <p>Pour partager vos idées, vous devez : </p>
                <a href="/signup">Vous inscrire</a>
                <a href="/login">Vous connecter</a>
            </div>
        <% } %>


    </main>
</body>
</html>