<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head') %>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/users_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <main>
        <div>
            <% if( errors.length) { %> 
                <h4 style="color: red; font-size: 1.5em;"> <%= errors %>   </h4>    
            <% } %> 
        </div>
        <div>
            <h3>Mot de passe </h3>
        </div>
        <div>
            <p class="monText">Veuillez saisir votre nouveau mot de passe :</p>
        </div>
            <form action="/updatePass" method="post">
                <input type="password" name="password" placeholder="saisir votre nouveau mot de passe"><br>
                <input type="password" name="confirmPassword" placeholder="resaisir votre nouveau mot de passe"><br>
                <button type="submit">Valider</button>
                <a class="lienMP" href="/" type="button">Annuler</a>
            </form>
        </div>
    </main>
</body>
</html>