<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/home_style.css">  
</head>
<body>
    <div class="erreurContainer">
        <div class="erreurImg">
            <img src="images/erreur404.png" alt="erreur404">
        </div>
        <div class="erreur404">
            <h1>OUPS !</h1><br>
            <h2>La page que vous recherchez semble introuvable.</h2><br><br><br>
            <p>Code d'erreur 404</p><br>
            <p>Vous pouvez retourner sur le site en cliquant sur le liens ci dessous :</p><br><br><br>
            <a href="/"> Page d'accueil</a>
        </div>
    </div>
</body>
</html>