<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head') %>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/users_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <main>
        <div>
            <% if( errors.length) { %> 
                <h4 style="color: red; font-size: 1.5em;"> <%= errors %>   </h4>    
            <% } %> 
        </div>
        <div>
            <h3>Mot de passe oublié </h3>
        </div>
        <div>
            <p class="monText">Si vous avez oublié votre mot de passe, merci de saisir votre adresse email : </p><br><br>
        </div>
            <form action="/forgetPassword" method="post" >
            <p class="monText">Votre adresse email : </p><br>
            <input type="email" name="email" placeholder="saisir votre email"><br>
            <button type="submit">Valider</button><br>
            <a class="lienMP" href="/" type="button">Annuler</a>
            </form>
        </div>
    </main>
</body>
</html>