<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head') %>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/game_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <main>
        <div class="gameEggs" >
            <iframe src="./iFrame/lejusteprix/index.html" title="gameEggs"></iframe>
        </div>
    </main>
</body>
</html>