<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/game_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
<div class="Jeux">
    <ul>
        <li>
            <div class="imgJeu">
                <a href="/game_eggs">
                    <img src="../images/imgGameEggs.png" alt="imgGameEggs">
                    <h3>Nombre d'oeufs</h3>
                </a>
            </div>
        </li>
        <li>
            <div class="imgJeu">
                <a href="/game_goChickenGo">
                    <img src="../images/imgGoChickenGo.png" alt="imgGameEggs">
                    <h3>Go Chicken Go</h3>
                </a>
                
            </div>
        </li>
        <li>
            <div class="imgJeu">
                <a href="/game_eggyCar">
                    <img src="../images/imgEggyCar.png" alt="imgGameEggs">
                    <h3>Eggy Car</h3>
                </a>  
            </div>
        </li>
    </ul>
</div>
</body>
</html>