<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/home_style.css"> 
    <script src="./js/responsive.js"></script> 
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>

    <div class="info_message">
        <% if( infos.length) { %> 
            <h4> <%= infos %>   </h4>    
        <% } %> 
    </div>

    <div>
        <img src="./images/2927.png" alt="chicken2927">
    </div>
    
    <div>
        <p class="title"><strong><span class="deco"> Bienvenue chez JOSIANE ! </span></strong></p>
        <p class="question">Qui de l’œuf ou la poule est arrivée en premier ?</p>
        <p class="para">
            Ici, nous n’allons pas répondre à cette question. Il s’agit juste d’un site qui permet <span class="deco">d’échanger autour de la poule.</span> <br>
            <img class="plume" src="../images/plume.png" alt="plume">
        
            <ul class="homeText">
                <li>Nous allons retrouver des idées de <p class="deco">noms</p> à donner à nos poules et coqs, pour les amateurs de cette pratique.</li>
                <li>Pouvoir échanger sur différentes <p class="deco">astuces et conseils</p> que chacun applique a son poulailler et souhaite le partager.</li>
                <li>De même pour des <p class="deco">recettes</p class="deco"> de cuisine avec le point commun d’avoir de l’œuf dedans.</li>
                <li>Pour finir une partie <p class="deco">jeux</p> pour les plus friands d’entre nous.</li>
            </ul>
        </p>
        <p class="para">
            Afin de pouvoir partager, nous vous demandons de vous <span class="deco">inscrire</span>, aucune démarche de notre part ne sera faite hors mis l’envoie de mail 
            pour confirmer votre inscription ainsi qu’en cas de mot de passe oublié. <br>
            Nous nous réservons également le droit de bloquer un compte dans le cas de contenu douteux. <br><br>
            <img class="josianeVers" src="../images/josiane&vers.png" alt="josiane&vers">
            Vous l’aurez compris, ce site a été fait sur la base de l’échange afin de partager cette passion. <br><br>
            Les poules sont de très bonne compagnie, avec elles on ne s’ennuie jamais ! <br>
            Elles sont jolies, attachantes, joueuses mais aussi amusantes. <br>
            Elles apportent un côté vivant et nature au jardin, c’est une excellente découverte pour les enfants.
            Si vous êtes fan de potager ou que vous êtes envahie par des escargots et limaces, elles seront vos alliées. <br>
            De plus, elles réduiront vos déchets alimentaires. Une poule peut consommer jusqu’à 150 kg par an. <br>
            Et le meilleurs arguments bien sûr est le fait d’avoir des œufs frais chaque jour et de savoir véritablement d’où ils viennent et des 
            conditions dont ils sont issus, parce que cette fois, <span class="deco">c’est vous l’acteur du bien-être de vos poules. </span>
        </p>

    </div>

</body>
</html>