<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/home_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    
    <div>
        <img src="./images/chickenOrEgg.jpg" alt="chickenOrEgg">
    </div>
    <div>
        <h2>Mon titre</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

    </div>

    <div class="justeprix">
        <iframe src="./iFrame/lejusteprix/index.html" title="JustePrix">

        </iframe>
    </div>
</body>
</html>