<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/home_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>

    <div class="info_message">
        <% if( infos.length) { %> 
            <h4> <%= infos %>   </h4>    
        <% } %> 
    </div>

    <div>
        <img src="./images/2927.png" alt="chicken2927">
    </div>
    <div>
        <h2>Mon titre</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

    </div>
    <div>
        <h2>Mon titre</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

    </div>
    <div>
        <h2>Mon titre</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

    </div>
    <div>
        <h2>Mon titre</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

    </div>
    <div>
        <h2>Mon titre</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, provident dolorem corporis incidunt quas reprehenderit doloremque earum, delectus nam molestias, aperiam nostrum quibusdam repudiandae odit laudantium sed maxime cupiditate? Ducimus.</p>

    </div>
</body>
</html>