<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josiane</title>
</head>
<body>
    <div>
    <h1>Voici ma premiere page pour mon projet Josiane</h1>
    <img src="./images/jojo.png" alt="jojo">
    </div>
</body>
</html>