<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/home_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <h1>PAGE NAMES</h1>
</body>
</html>