<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/home_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <div class="partage">
        <h1>Partage</h1>
        <img src="./images/travaux.png" alt="travaux" style="width: 80%; height: auto;">
    </div>
</body>
</html>