<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/users_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <main>
        <div>
            <% if( errors.length) { %> 
                <h4 style="color: red; font-size: 1.5em;"> <%= errors %>   </h4>    
            <% } %> 
        </div>

            <h3>Création de compte utilisateur : </h3>

        <div>
            
            <form action="signup" method="post" >
                <div>
                    <p class="monText"> Email : </p>
                    <input type="email" name="email" placeholder="saisir un email valide"><br>
                    <p class="monText"> Pseudo : </p>
                    <input type="text" name="pseudo" placeholder="saisir votre pseudo"><br>
                    <p class="monText"> Mot de passe : </p>
                    <input type="password" name="password" placeholder="saisir votre mot de passe"><br>
                    <p class="monText"> Confirmation mot de passe : </p>
                    <input type="password" name="confirmPassword" placeholder="resaisir votre mot de passe"><br><br>
                    
                    <button type="submit">Valider</button><br>
                    <a class="lienMP" href="/" type="button">Annuler</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>