<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="/css/responsive_style.css">  
</head>
<body>
   
        <div class="smallScreen">
            <img src="../images/respons.png"  alt="small">
            
        </div>
    
</body>
</html>