<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/home_style.css">  
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <img src="images/travaux.png" alt="construction" style="width: 80%; height: auto;">
</body>
</html>