<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head')%>
    <title>Josiane</title>
    <link rel="stylesheet" href="./css/travaux_style.css">
</head>
<body>
<%-include('partials/header')%>
<%-include('partials/nav')%>
    <main>
        <img src="images/construction.png" alt="construction" style="width: 90%; height: auto; margin: 15px;">
    </main>
</body>
</html>