
.game {
    background-color: #f3f0c9;
}

body {
    background: #272525;
}

main {
    text-align: center;
}

iframe {
    height: 600px;
    width: 85%;
    box-shadow: 15px 10px 5px #fffcb9e8;
    margin: 10px;
    margin-top: 50px;
      
}

/** Style page games **/
ul li div a img {
    width: 100%;
    height: 90%;
    
}

ul li div a h3 {
    color: white;
}

.imgJeu:hover{
    border: 3px solid #fffcb9e8;
}

.imgJeu {
    height: 200px;
    width: 350px;
    margin: 20px;
}
.Jeux ul {
    list-style-type: none;
}

.Jeux ul li {
    display: inline-block;
    vertical-align: middle;
}

.Jeux {
    margin: 100px;
}

/** fin page games **/

