body {
    background: #272525;
    background : linear-gradient(margin-top, #272525, #fffcb9e8); 
}
.gameEggs {
    display: block;
    text-align: center;
}

iframe {
    height: 600px;
    width: 85%;
    box-shadow: 15px 10px 5px #fffcb9e8;
    margin: 10px;
    margin-top: 50px;  
}
