/*CSS pour le header et le menu nav*/

/*definition du grid et degradé pour le header*/
.header_container {
    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 20px, 20px;
    
    background: #272525;
    background : linear-gradient(to bottom, #272525, 93%, #fffcb9e8); 
}

/* Param img jojo*/
.header_img {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
}

.header_img img {
    height: 130px;
    width: auto;
    margin-left: 40px;
}

/* css titre header */
.header_title {
    grid-column: 2 / span 3;
    grid-row: 1;
    align-self: center;
    color: white;
    font-size: x-large;
    margin-top: 30px;
}

/* css liens header */ 
.header_ahref {
    grid-column: 9 / 11;
    grid-row: 1;
    align-self: flex-start;
    text-align: center;
    margin-top: 25px;
}

.header_ahref a {
    display: inline;
    margin: 10px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}
.separateur{
  display: inline-block;
  font-size: 1.5em;
  color: #fff;
}

:root{
    --hauteur-menu: 60px;
  }

  nav {
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
    position: sticky;
    top: 0;
    font-family: Montserrat, sans-serif;
  }
  nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
    list-style-type: none;
  }
   
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
  }
  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .menu-deroulant > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }
  .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
  }
  
  .sous-menu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
  }
  nav > ul > li:hover > a{
    color: #ff9e02;
  }
  .sous-menu > li:hover {
    background-color: #e0ac0315;
  }
  
  .sous-menu > li:hover > a {
    color: #ff9e02;
  }
  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  .menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
  }
  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #fffcb9e8;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #fffcb9e8;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }