

   .bodyIndex {
        color: #B0413E;


   }
   h1 {
       background-color: aquamarine;
   }
   .gifChicken {
       float: left;
       width: 20%;
       height: 20%;
   }
   .bienvenue {
       text-align: justify;
       margin: 20px;
   }