

.listPoule {
    grid-row: 3/6 ;
    grid-column: 3/8;
    column-count: 3;
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: x-large;
}
.listPoule ul {
    list-style-type: none;
    font-weight: bold;
}

.listPoule ul li {
    margin-bottom: 10px;
}

.martine {
    grid-row: 4/5;
    grid-column: 0/2;
    align-self: flex-end;
    position: absolute;
    z-index: -1;
}


