
.listCoq {
    grid-row: 3/6 ;
    grid-column: 3/8;
    column-count: 3;
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: x-large;
}
.listCoq ul {
    list-style-type: none;
    font-weight: bold;
}

.listCoq ul li {
    margin-bottom: 10px;
}

.rico {
    grid-row: 5/5;
    grid-column: 1/1;
    align-self: flex-end;
    position: absolute;
    z-index: -1;
    
}

@media (max-width: 1350px){
    .rico {
        display: none;
    }
}