{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="bodyIndex">
            <h1 class="offset-2 col-8"> Qui de l'oeuf ou la poule est arrivé en premier ? </h1>
        <div>
            <div class="offset-1 col-10">
                <img class="gifChicken" src="{{ asset('images/chicken.gif') }}" alt="gif chicken">

                <p class="bienvenue">Bienvenue sur mon site. <br/>

                    Lorem ipsum dolor sit amet. Cum ducimus voluptas et enim praesentium et tempore tenetur qui veritatis soluta est consectetur voluptates sed rerum dolorem et aliquid tempora. Sed architecto asperiores aut natus blanditiis qui voluptas dignissimos et quasi laboriosam ut totam enim. Ea excepturi galisum et vitae ipsum eum omnis debitis voluptas praesentium est dolore possimus aut quae voluptatibus.

                    Quo dicta quas a sunt eligendi ut illo provident est eligendi debitis sit iusto facere et quasi reiciendis. Qui odio optio ab quisquam quibusdam ab quia sint vel dolor fuga sed quibusdam modi et quia. 33 officiis fuga qui quae maiores sed illo sequi ut cumque magni ea inventore dolor est corrupti minima qui repudiandae iure. Sit odio debitis hic dolore pariatur et adipisci porro a ipsum nemo nam accusantium consectetur.

                    Ut enim atque quo Quis porro sit rerum illum est dolorem alias. Et omnis ducimus id ullam consequatur est odit dolorum qui tempore repellat nam voluptatum natus sed nesciunt tempora. Eum consequuntur delectus et voluptatem odit quo sunt iste id omnis quam est alias voluptate ex rerum minima? T</p>
            </div>
        </div>
    </div>
{% endblock %}
