{% extends 'base.html.twig' %}

{% block title %}travaux{% endblock %}

{% block body %}
    <h2 class="offset-3 col-10"> Désolé cette page est en construction.</h2>
    
    <div>
        <img  class="offset-3 col-6" src="{{ asset('images/construction.jpg') }}" alt="site en construction">
    </div>
{% endblock %}



